<?xml version = "1.0" encoding="UTF-8"?>
<web-app version = "2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- HOME & REGISTRATION PAGE -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
  	<servlet-name>bongs</servlet-name>
  	<jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bongs</servlet-name>
  	<url-pattern>/homepg</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>reg</servlet-name>
  <servlet-class>system.onlinebanking.controller.RegisterClient</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>reg</servlet-name>
  <url-pattern>/jsp/regsister</url-pattern> 
  </servlet-mapping>
	
  <servlet>
  	<servlet-name>bongani</servlet-name>
  	<servlet-class>system.onlinebanking.controller.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bongani</servlet-name>
  	<url-pattern>/homepg</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bongan0</servlet-name>
  	<servlet-class>system.onlinebanking.controller.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bongan0</servlet-name>
  	<url-pattern>/edit</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bongani3</servlet-name>
  	<servlet-class>system.onlinebanking.controller.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bongani3</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bongani4</servlet-name>
  	<servlet-class>system.onlinebanking.controller.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bongani4</servlet-name>
  	<url-pattern></url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bongani5</servlet-name>
  	<servlet-class>system.onlinebanking.controller.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bongani5</servlet-name>
  	<url-pattern>/insert</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bongani6</servlet-name>
  	<servlet-class>system.onlinebanking.controller.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bongani6</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  <!-- LOGIN PAGE -->
  <servlet>
  	<servlet-name>bongani1</servlet-name>
  	<servlet-class>system.onlinebanking.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <!-- BANKING BACKEND -->
  <!-- DEPOSITE PAGE -->
  <servlet>
  	<servlet-name>bongani2</servlet-name>
  	<servlet-class>system.onlinebanking.controller.DepositeServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RegisterClient</display-name>
  	<servlet-name>RegisterClient</servlet-name>
  	<servlet-class>system.onlinebanking.controller.RegisterClient</servlet-class>
  </servlet>
  <servlet-mapping>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterClient</servlet-name>
  	<url-pattern>/RegisterClient</url-pattern>
  </servlet-mapping> 
</web-app>
