<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>Client Search and Display</title>

<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"
	type="text/javascript"></script>

<script type="text/javascript">
	var app = angular.module("AngularfilterApp", []);

	app.controller("filterctrl", function($scope) {

		$scope.users = [ {

			name : "Madhav" 
			
			surname : "Sai",

			age : 11

		}, {

			name : "Suresh" 
			
			surname : "Dasari",

			age : 29

		}, {

			name : "Rohini" 
			
			surname : "Alavala",

			age : 29

		}, {

			name : "Praveen" 
			
			surname : "Kumar",

			age : 24

		} ];

	});
</script>

</head>

<body ng-app="AngularfilterApp">

	<div ng-controller="filterctrl">

		Only Name to Filter:<input ng-model="searchtxt.name" type="text"
			placeholder="Enter Only Name"><br />
		<br />Only Surname to Filter:<input ng-model="searchtxt.surname" type="text"
			placeholder="Enter Only surname"><br />
		<br /> Only Age to Filter:<input ng-model="searchtxt.age" type="text"
			placeholder="Enter Only Age"><br />
		<br />

		<table>

			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Age</th>
				<th>ID Number</th>
				<th>Account Number</th>
				
			</tr>

			<tr ng-repeat="user in users | filter : searchtxt">

				<td>{{user.name}}</td>
				
				<td>{{user.surname}}</td>

				<td>{{user.age}}</td>

			</tr>

		</table>

	</div>

</body>

</html>